/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
ul,
li,
form,
input,
button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #F7F9FC; /* Cor de fundo suave */
    color: #005B77; /* Cor de texto */
}

header {
    background-color: #FFFFFF; /* Fundo do cabeçalho */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.lista-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.lista-menu a {
    text-decoration: none;
    color: #005B77; /* Cor dos links */
}

.banner {
    background: linear-gradient(97.54deg, #005B77 35.49%, #66B2C8 165.37%);
    color: #FFFFFF;
    text-align: center;
    padding: 50px 20px;
}

.banner__pesquisa {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.artigos {
    padding: 20px;
}

.artigo {
    background: #FFFFFF;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contato {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.contato__email {
    padding: 10px;
    border: 1px solid #005B77;
    border-radius: 5px;
    width: 300px;
}

.contato__botão {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28A745; /* Verde */
    color: #FFFFFF;
    cursor: pointer;
}

.rodapé {
    background-color: #005B77;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
